a {
  text-decoration: none;
}

.authorization-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authorization-card {
  width: 22rem;
}
